<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>React.js with angular</title>
	<link rel="stylesheet" href="">
</head>
<body ng-controller="userController">
	<form>
		<legend>Whats your name?</legend>

		<input type="text" name="name" ng-model="user.name" placeholder="Name">
		<input type="text" name="lastName" ng-model="user.lastName" placeholder="Last name">
	</form>

	<usuario name="user.name" last-name = "user.lastName"/> 



	<script src="js/react-angular.js"></script>
</body>
</html>